<!DOCTYPE html>
<html lang="en" id="home">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <div class="header__wrapper">
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">
          <a href="/">Hungry Days</a>
        </h1>
      </div>
      <button id="menu" class="header__menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
  
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://web.facebook.com/dwi.setyawan.5688476">About Us</a></li>
      </ul>
    </nav>
  </div>
  

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Manjakan Lidahmu Dengan Hidangan Yang Menggugah Selera</h1>
      <p class="hero__tagline">Daftar makanan terlengkap dari setiap restoran dan rumah makan di seluruh penjuru kota ada dalam genggamanmu</p>
    </div>
  </div>

  <main>
    <section class="content">
      <div class="expolre">
        <h1 class="expolore__label">Explore Restaurant</h1>
        <div class="cards" id="maincontent">
          
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p class="footer__p">copyright &copy; 2022 - Hungry Days</p>
  </footer>
</body>
</html>
